.Container {
  padding: 3rem;
}

.Title {
  margin: 0 0 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.Input {
  width: 260px;
  height: 32px;
  margin: 1px 0;
  font-size: 1.5rem;
}

.Button {
  width: 130px;
  height: 40px;
  margin: 1px 0;
  font-size: 1.5rem;
}

.Message {
  margin: 2rem 0 0;
  font-size: 1.75rem;
}